.adBox {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 1120px;
  height: 140px;
  opacity: 0.7;
  margin-left: 300px;
  border-radius: 28px;
  text-align: center;
}

.leftAd {
  color: white;
  position: absolute;
  top: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 60px;
  width: 150px;
  height: 500px;
}
.rightAd {
  color: white;
  position: absolute;
  top: 300px;
  right: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 50px;
  width: 150px;
  height: 500px;
}

.botAd {
  background-color: #191d2c;
}

.botAdBox {
  position: relative;
  top: -70px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 300px;
  width: 1120px;
  opacity: 0.7;
  color: white;
  height: 120px;
  border-radius: 28px;
  text-align: center;
}
